In [19]:
a = 3
b = 3.4
c = b > 200
d = 'hello'

print (a, b, c)

c = 567

c, d
age = [23, 45, 78.5]

for i in [2, 55, 77]:
    print (i)

type(age)

def printNum(jo):
    for i in jo:
        print (i)

printNum(age)

3 3.4 False
2
55
77
23
45
78.5

In [22]:
name = "Pradeep Mishra"
age = 23
work = "HPE"
city = "BLR"
info = f"{name} is of age {age} who works at {work} and lives in {city}"
info

'Pradeep Mishra is of age 23 who works at HPE and lives in BLR'

In [23]:
print(info)

Pradeep Mishra is of age 23 who works at HPE and lives in BLR

In [27]:
name[-1:]

'a'

In [28]:
fruits = 2
vegetables = 3
eatingNo = f"I eat {vegetables} vegetables and {fruits} fruits daily"
eatingNo

'I eat 3 vegetables and 2 fruits daily'

In [29]:
text = "The Himalayas are one of the youngest mountain ranges on the planet."
text[0:12]

'The Himalaya'

In [32]:
text[-30:-16]

'mountain range'

In [34]:
len(text)

68

In [42]:
planetTxt = text[-14:-1]
planetTxt

'on the planet'

In [43]:
f"The Himalayas {planetTxt}"

'The Himalayas on the planet'

In [46]:
string= "There are 9 planets in the solar system"
string

'There are 9 planets in the solar system'

In [47]:
string = string.replace("9", "8")
string

'There are 8 planets in the solar system'

In [48]:
word = "Python"
print("PyT" in word)

False